@import 'variables';


.cards{
    .card-content {
      display: flex;
      margin: 0 auto;
      max-width: 1200px;
      flex-flow: row wrap;
      justify-content: center;
      padding: 1.5rem;
    //   transition: 0.5s;
    }
    .movie {
      cursor: pointer;
      position: relative;
      height: $card-height-large-screen;
      border-radius: 1rem;
      flex: 1;
      min-width: 270px;
      overflow: hidden;
      box-shadow: 0 0 1.1rem rgba(2, 20, 27, 0.863);
      -webkit-transform: translate3d(0, 0, 0);
    &:hover{
        transform: translateY(-20px);
       } 
      &::before {
          position: absolute;
          background: rgba(0, 0, 0, 0) linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%,rgba(0, 0, 0, 0.699) 65%);;
          z-index: 0;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          content: "";
        }
    
      &_image {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        position: relative;
        z-index: -1;
        
      }
      &_text-content {
        position: absolute;
        bottom: 0rem;
        padding: 1rem;
        color: white;
    /*     background-color: rgba(0, 0, 0, 0.4); */
        transition: background-color 1.5s ease;
      }
      &_title {
        transition: color 1s ease;
        margin-bottom: .5rem;
        
      }
      &_post-date {
        font-size: .9rem;
        margin-bottom: .5rem;
        color: #CCC;
      }
      &_details-content {
        // max-height: 5px;
        margin-top: 1rem;
        opacity: 0;
        // transition: max-height 1.5s ease, opacity 1s ease;
        a{
           
            font-family: $poppins;
            text-decoration: none;
            background-color: #EEEEEE;
            color: #333333;
            padding: 6px 15px 6px 15px;
            border-radius: 999px;

        }
        
      } 
                 
    }

}

.cards:hover .movie_details-content{
    opacity: 1; 
}
