@import 'variables';

.detailsContainer{
    width: 90%;

    background-color: rgb(13, 26, 26);
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
 
    .details-movie_image_div{
        width: 25%;
        .details-movie_image{
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        
        }
    }

}

