@import "variables";

.footer {
  bottom: 0;
  width: 100%;
  height: 90px; /* Height of the footer */
  background: $bg-color;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  &-icons {
    display: flex;
    justify-content: center;

    &-linkedin {
      margin-right: 2rem;
      cursor: pointer;
      background-color: white;
      border-radius: 999px;
    }
    &-github {
      cursor: pointer;
    }
  }
  &-powered {
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 0.9rem;
    font-family: $poppins;
    margin-top: 1rem;
  }
}
