@import 'variables';
@import 'homeContainer';
@import 'navbar';
@import 'detailsContainer';

body{
    margin: 0;
}

.container{
    min-height: 100vh;
    background-color: $bg-color;
    display: flex;
    justify-content: center;
    align-items: center;
}